/* header section start */
header {
    max-width: 1200px;
    margin: 10px auto;
}

/* navbar section start */
.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar-section-logo {
    height: 120px;
    width: 150px;
}

.navbar-section-logo img {
    height: 100%;
    width: 100%;
}

.navbar-section-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-section-div-1 ul {
    display: flex;
    gap: 2rem;
}

.navbar-section-div-1 ul li {
    list-style: none;
}

.navbar-section-div-1 ul a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #8987A1;
    font-family: "Inter", sans-serif;
}

.navbar-section-div-1 ul .Home {
    font-size: 1rem;
    font-weight: 700;
    color: #252432;
}

.navbar-section-div-2 a {
    text-decoration: none;
}

.navbar-section-div-2 a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    font-family: "Inter", sans-serif;
}

/* navbar section End  */

/* Banner-section start  */
.Banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0rem 1rem 0rem;
}

.Banner-section-1 h1 {
    color: #cf5611;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
    line-height: 20px;
}

.Banner-section-1 span {
    color: #0fb01f;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
    line-height: 20px;
}

.Banner-section-1 p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.Banner-section-2 {
    width: 100%;
    height: 400px;
}

.Banner-section-2 img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* Banner-section End  */
/* header section End */

/* main section start */
main {
    max-width: 1200px;
    margin: 10px auto;
}

/* Plants section start */
.Plants-section {
    margin-top: 5rem;
}

.Plants-section-1 {
    text-align: center;
}

.Plants-section-1 .Our {
    color: #E95A08;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
}

.Plants-section-1 .Plants {
    color: #000000;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
}

.Plants-section-1 p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 2rem;
    font-family: "Inter", serif;
}

.Plants-section-2 {
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.Plants-section-card {
    background-color: #f2f1f8;
    text-align: center;
    border: 0.5px solid yellowgreen;
    border-radius: 0.5rem;
}

.Plants-section-card .card-div {
    height: 250px;
    width: 100%;
}

.Plants-section-card .card-div img {
    height: 100%;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.Plants-section-card h1 {
    color: #4d4c4c;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 100%;
    font-family: "Inter", serif;
}

.Plants-section-card h2 {
    color: #4d4c4c;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 120%;
    font-family: "Inter", serif;
}

.Plants-section-card button {
    color: #ffffff;
    background-color: #E95A08;
    font-size: 0.8rem;
    font-weight: 500;
    height: 2.5rem;
    border: none;
    border-radius: 0px 0px 0.5rem 0.5rem;
    font-family: "Inter", serif;
    width: 100%;
}

/* Plants section End  */

/* flower lover section start  */
.flower-lover-section {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    margin: 1.5rem;
    margin-top: 5rem;
    padding: 1.5rem;
    position: relative;
}

.flower-lover-section .trusted-badge {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -50px;
    left: 360px;
}

.flower-lover-section .trusted-badge img {
    width: 100%;
    height: 100%;
}

.flower-lover-section-1 {
    width: 100%;
    height: 500px;
}

.flower-lover-section-1 img {
    width: 100%;
    height: 100%;
    border: 1px solid yellowgreen;
    border-radius: 8px;
}

.flower-lover-section-2 h1 {
    color: #790a0a;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
}

.flower-lover-section-2 ul li {
    color: #636262;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", serif;
    margin-top: 1.5rem;
}

/* flower lover section End  */

/* latest deals section start*/
.latest-deals-section {
    max-width: 1200px;
    margin: 10px auto;
    padding: 2rem;
}

.latest-deals-section-1 {
    text-align: center;
    padding: 4rem;
}

.latest-deals-section-1 h1 {
    color: #1086cf;
    font-size: 2rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
}

.latest-deals-section-1 span {
    color: #1d6d5c;
}

.latest-deals-section-1 p {
    color: #636262;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Inter", serif;
    margin-top: 1.5rem;
}

.latest-deals-section-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.latest-deals-section-div-1,
.latest-deals-section-div-2,
.latest-deals-section-div-3 {
    background-image: url("images/deal-bloom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: inset 5px 5px 100px rgb(0, 0, 0);
    box-shadow: inset -5px -5px 500px rgb(0, 0, 0);
}

.latest-deals-section-div-2 {
    background-image: url("images/deal-zabo.png");
    grid-row: span 2;
    grid-column: span 2;
    height: 400px;
}

.latest-deals-section-div-3 {
    background-image: url("images/deal-ana.png");
}

.latest-deals-section-2 h1 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
}

.latest-deals-section-2 button {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Noto Serif", serif;
    background-color: #e736c6;
    border: none;
    padding: 8px 15px;
    border-radius: 8px 18px;
}

/* latest deals section END*/

/* Join Section start  */
.join-section {
    background-image: url("images/news-letter-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin: 5rem 0rem 2rem 0rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-section-1 h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ade90a;
}

.join-section-2 form input[type="email"] {
    border: none;
    font-size: 18px;
    color: #070211;
    padding: 10px 50px;
    width: 400px;
    border-radius: 5px 0px 0px 5px;
}

.join-section-2 form input[type="button"] {
    border: none;
    background-color: #FF0000;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    margin-left: -5px;
    width: 200px;
    border-radius: 0px 5px 5px 0px;
}

/* Join Section end  */
/* main section end  */

/* footer section start  */
.footer-section {
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
    padding: 2rem;
    background-color: #f7f7ff;
    border-radius: 1rem;
}

.footer-section-1 {
    width: 30%;
}

.footer-section-1 img {
    width: 200px;
    height: 150px;
}

.footer-section-1 p {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", serif;
}

.footer-section-2 {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.footer-section-2 li {
    list-style: none;
    margin-top: 20px;
}

.footer-section-2 a {
    text-decoration: none;
    color: #6B7280;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inter", serif;
}

.footer-section-3 a {
    margin-left: 1.5rem;
}

.footer-section-3 img {
    height: 30px;
    width: 30px;
}

/* footer section end  */

/* media mobile phone screen */
@media screen and (max-width: 600px) {

    /* header section start */
    header {
        max-width: 600px;
    }

    /* navbar section start */

    .navbar-section-logo {
        height: 100px;
        width: 120px;
    }

    .navbar-section-div-1 {
        display: none;
    }

    .navbar-section-div-2 a {
        font-size: 1.5rem;
        font-weight: 600;
    }

    /* navbar section End  */

    /* Banner-section start  */
    .Banner-section {
        display: flex;
        gap: 2rem;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .Banner-section-1 p {
        font-size: 1rem;
        text-align: justify;
        padding: 10px;
    }

    .Banner-section-1 h1,
    .Banner-section-1 span {
        font-size: 2rem;
        padding: 5px;
    }

    .Banner-section-2 {
        width: 100%;
        height: 300px;
    }

    /* Banner-section End  */
    /* header section End */

    /* main section start */
    main {
        max-width: 600px;
        margin: 10px auto;
    }

    /* Plants section start */
    .Plants-section {
        margin-top: 1rem;
    }

    .Plants-section-1 p {
        text-align: justify;
    }

    .Plants-section-2 {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .Plants-section-card .card-div {
        height: 200px;
        width: 100%;
    }

    .Plants-section-card h1 {
        font-size: 1rem;
    }

    .Plants-section-card h2 {
        font-size: 1;
    }

    /* Plants section End  */

    /* flower lover section start  */
    .flower-lover-section {
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
        padding: 1rem;
    }

    .flower-lover-section .trusted-badge {
        display: none;
    }


    .flower-lover-section-2 h1 {
        color: #790a0a;
        font-size: 2rem;
        font-weight: 800;
        font-family: "Noto Serif", serif;
    }

    .flower-lover-section-2 ul {
        padding-left: 2rem;
    }

    /* flower lover section End  */


    /* latest deals section start*/
    .latest-deals-section {
        max-width: 600px;
    }

    .latest-deals-section-1 {
        padding: 0.5rem;
    }

    .latest-deals-section-2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .latest-deals-section-div-1,
    .latest-deals-section-div-2,
    .latest-deals-section-div-3 {
        width: 100%;
        height: 200px;
    }

    /* latest deals section END*/



    /* Join Section start  */
    .join-section {
        height: 250px;
    }

    .join-section-1 h1 {
        font-size: 2rem;
    }

    .join-section-2 form input[type="email"] {
        width: 150px;
        font-size: 14px;
        padding: 10px 15px;
    }

    .join-section-2 form input[type="button"] {
        width: 100px;
        font-size: 14px;
    }

    /* Join Section end  */
    /* main section end  */


    /* footer section start  */
    .footer-section {
        max-width: 600px;
        flex-direction: column;
    }

    .footer-section-1 {
        width: 100%;
    }

    .footer-section-2 {
        flex-direction: column;
        width: 100%;
    }

    .footer-section-2 a {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: -2rem;

    }

    .footer-section-3 {
        width: 100%;
        margin-top: 1rem;
        margin-left: -2rem;

    }

    .footer-section-3 img {
        height: 30px;
        width: 30px;

    }

    /* footer section end  */

}